<%- include("../partials/adminpartials/dashHeader") %>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post">
                        <div >
                            <% 
                            if(typeof error !== 'undefined'){
                                %>
                                <p style="color: rgb(207, 1, 1); font-size: 15px; margin: 10px;"><%= error %></p>
                                <%
                            }    
                            %>
                        </div>
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input name="name" type="text" placeholder="Type here" class="form-control" id="product_name" />
                        </div>
                        
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea name="description" placeholder="Type here" class="form-control"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <% categoryData.forEach(category => { %>
                            <tbody>
                                <tr>
                                    <td><b><%= category.name %></b></td>
                                    <td><%= category.description %></td>
                                    
                                    
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="/admin/categoryEdit?id=<%=category._id%>">Edit info</a>
                                                <a class="dropdown-item text-danger" href="/admin/category/delete/<%= category._id %>">Delete</a>
                                                <a class="dropdown-item" href="/admin/categoryOffer?id=<%=category._id%>">Add Offer</a>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                            </tbody>
                            <% }) %>

                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>

<%- include("../partials/adminpartials/dashFooter") %>