<%- include("../partials/adminpartials/dashHeader") %>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title card-title">Sales Report</h2>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <form action="/admin/salesReport" method="GET">
                <div class="row gx-3">
                    <div class="col-lg-2 col-md-3 col-6">
                        <input type="date" name="startDate" class="form-control" value="<%= startDate.toISOString().split('T')[0] %>">
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <input type="date" name="endDate" class="form-control" value="<%= endDate.toISOString().split('T')[0] %>">
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select name="filter" class="form-select">
                            <option value="">Custom Range</option>
                            <option value="day" <%= filter === 'day' ? 'selected' : '' %>>1 Day</option>
                            <option value="week" <%= filter === 'week' ? 'selected' : '' %>>1 Week</option>
                            <option value="month" <%= filter === 'month' ? 'selected' : '' %>>1 Month</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
            <div class="mb-3">
                <a href="/admin/salesReport/download?startDate=<%= startDate.toISOString().split('T')[0] %>&endDate=<%= endDate.toISOString().split('T')[0] %>&format=pdf" class="btn btn-secondary">Download PDF</a>
                <a href="/admin/salesReport/download?startDate=<%= startDate.toISOString().split('T')[0] %>&endDate=<%= endDate.toISOString().split('T')[0] %>&format=excel" class="btn btn-secondary">Download Excel</a>
            </div>
        </header>

        <div class="card-body">
            <div class="row mb-4">
                <div class="col-lg-3 col-md-6">
                    <div class="card card-body mb-4">
                        <h5 class="card-title">Overall Sales Count</h5>
                        <h6><%= overallSalesCount %></h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-body mb-4">
                        <h5 class="card-title">Overall Order Amount</h5>
                        <h6>$<%= overallOrderAmount.toFixed(2) %></h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-body mb-4">
                        <h5 class="card-title">Overall Discount</h5>
                        <h6>$<%= overallDiscount.toFixed(2) %></h6>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">User Email</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Coupon Applied</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end">Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i<orderDetails.length; i++) { %>
                            <tr>
                                <td><%= orderDetails[i].orderId %></td>
                                <td><%= orderDetails[i].user.name%></td>
                                <td>$<%= orderDetails[i].billTotal.toFixed(2) %></td>
                                <td>
                                    <% if (orderDetails[i].couponCode) { %>
                                        <span class="badge rounded-pill alert-success">
                                            <%= orderDetails[i].couponCode %>
                                        </span>
                                    <% } else { %>
                                        No Coupon
                                    <% } %> 
                                </td>
                                <td>$<%= orderDetails[i].discount.toFixed(2) %></td>
                                <td><%= orderDetails[i].orderDate.toLocaleDateString() %></td>
                                <td class="text-end">
                                    <p><%= orderDetails[i].paymentMethod %></p>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/adminpartials/dashFooter") %>