<%- include("../partials/homepage/userHeader") %>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand"><%= products.length %></strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <select id="sortSelect" onchange="updateFilters()">
                                        <option value="featured" <%= sort === 'featured' ? 'selected' : '' %>>Featured</option>
                                        <option value="price_asc" <%= sort === 'price_asc' ? 'selected' : '' %>>Price: Low to High</option>
                                        <option value="price_desc" <%= sort === 'price_desc' ? 'selected' : '' %>>Price: High to Low</option>
                                        <option value="newest" <%= sort === 'newest' ? 'selected' : '' %>>Newest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid-4">
                        <% products.forEach(product => { %>
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productDetails?id=<%= product._id %>">
                                                <img class="default-img" src="/productImages/<%= product.defaultImg[0] %>" alt="">
                                                <img class="hover-img" src="/productImages/<%= product.hoverImg %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= product._id %>')"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%= product.category %></a>
                                            <a href="#"><% if (product.stock === 0) { %>
                                                <span class="text-danger"> (Product out of stock)</span>
                                               <% } %>
                                            </a>
                                        </div>
                                        <h2><a href="/productDetails?id=<%= product._id %>"><%= product.name %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span><%= product.discountPercentage %>%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$<%= product.price %></span>
                                            <span class="old-price">$<%= product.oldPrice %></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= product._id %>')"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <% for(let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                                        <a class="page-link" href="#" onclick="changePage('<%= i %>')"><%= i %></a>
                                    </li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <li><a href="#" onclick="updateFilters('', event)">All Categories</a></li>
                            <% categories.forEach(cat => { %>
                                <li><a href="#" onclick="updateFilters('<%= cat %>', event)" <%= category === cat ? 'class="active"' : '' %>><%= cat %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                    <!-- sidebar -->
                </div>
            </div>
        </div>
    </section>
</main>

<script>
function updateFilters(newCategory, event) {
    if (event) event.preventDefault();
    let currentUrl = new URL(window.location.href);
    if (newCategory !== undefined) {
        currentUrl.searchParams.set('category', newCategory);
    }
    currentUrl.searchParams.set('sort', document.getElementById('sortSelect').value);
    currentUrl.searchParams.set('page', '1');
    window.location.href = currentUrl.toString();
}

function changePage(page) {
    let currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('page', page);
    window.location.href = currentUrl.toString();
}
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

function checkUserLoggedIn(callback) {
    fetch('/check-auth')
        .then(response => response.json())
        .then(data => {
            callback(data.isLoggedIn);
        })
        .catch(error => {
            console.error('Error checking auth status:', error);
            callback(false);
        });
}

function showLoginAlert() {
    Swal.fire({
        icon: 'warning',
        title: 'Login Required',
        text: 'Please log in to perform this action.',
        showCancelButton: true,
        confirmButtonText: 'Login',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/login';
        }
    });
}


    function addToWishlist(productId) {
        checkUserLoggedIn((isLoggedIn) => {
        if (!isLoggedIn) {
            showLoginAlert();
            return;
        }
        fetch('/add-to-wishlist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ productId: productId })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                icon: 'success',
                title: 'Product Added to Wishlist',
                showConfirmButton: false,
                timer: 1500
            });
        } else if (data.alreadyInWishlist) {
            Swal.fire({
                icon: 'info',
                title: 'Already in Wishlist',
                text: 'This product is already in your wishlist.',
                showConfirmButton: false,
                timer: 1500
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Failed to add product to wishlist',
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'An error occurred while adding the product to wishlist',
        });
    });
    });
}

    function addToCart(productId){

        checkUserLoggedIn((isLoggedIn) => {
        if (!isLoggedIn) {
            showLoginAlert();
            return;
        }
        fetch('/add-to-cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                productId
            }),
        })
        .then(data => {
            if (data.ok) {
                Swal.fire({
                    icon: 'success',
                    title: 'Product Added to Cart',
                    text: data.message,
                    showConfirmButton: false,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.message,
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
            });
        });
    });
        
    } 
</script>


<%- include("../partials/homepage/userFooter") %>